.page {
  max-width: 380px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;

  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.topbar{
  background-color: #ff5e33;
  border: 1px solid white; 
}

.headding{
  background-color: cornflowerblue;
  color: blanchedalmond;
  text-align: center;
}

.appcontainer{

  /* background-color: #ff5b04; */
  border: 1px solid white; 
}

.obraslist {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* .obra {
  overflow: hidden;
} */


.containerobra {
  background-color: #2C2D26;
  border: 1px solid #e0e0e0;
  width: 100%;
  /* width: 200px; */
  /* height: auto; */
  /* overflow: hidden;
  display: flex; */
}

/* .image {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
} */

.image {
  display: block;
  max-width: 100%;
  max-height: 320px;
  width: auto;
  height: auto;
  margin: 0 auto 8px auto;
  /* border-radius: 0.7rem; */
  background: #eee;
  object-fit: contain;
  box-shadow: 0 1px 8px #0002;
}


.link {
  color: royalblue;
}

