@import './variables.css';

.page {
    max-width: var(--largura-max);
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-gray);
    
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding-bottom: 80px; /* espacamento inf para a barra nao cobrir a nav de pags */
}

.topbar {
    position: sticky;
    top: 0;
    background: var(--bg-gray);
    z-index: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.heading {
   text-align: center; 
   padding: 1.25rem 1rem 0.5rem 1rem;
}

.navi {
    display: flex;
    overflow-x: auto; /* abas rolam na horizontal se nao couberem */
    padding: 0 1rem;
    gap: 1.5rem; /* espacamento entre abas */
}

.navi::-webkit-scrollbar {
    display: none;
}

.tab, .tabActive {
    background: none;
    border: none;
    border-bottom: 3px solid transparent;
  /* font-size: 1rem; 
  cursor: pointer; */
  padding: 0.75rem 0.25rem; 
  white-space: nowrap; 
  transition: color 0.2s ease, border-color 0.2s ease; 
}

.tab {
    color: #888;

}

.tab:hover {
    color: #ccc;
}

.tabActive {
    color: var(--ice-white-color);
    font-weight: 600;
    border-bottom: 3px solid var(--main-orange-color);
}
/* --- SOLICITAÇÃO 2: ESTILOS DA LISTA E CARDS --- */
.appcontainer{
  /* Removemos a borda de debug */
  /* border: 1px solid white;  */
}

.obraslist {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 1rem; /* add */
}
/* novo card */
.card {
    background-color: black;  /* fundo preto */
    border-radius: 12px; /* bordas arredondadas*/
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25); /* sombras */
    text-decoration: none;
    transition: transform 0.2s ease-out;
}

.card:hover {
    transform: scale(1.02); /* transform=animacao; um zoom sutil de 100+2, 2%*/
}

.image {
    width: 100%;
    height: auto;
    display: block;
    background: #555; /* fundo para o placeholder */
}
/* Placeholder para obras sem imagem */
.imgph {
  width: 100%;
  aspect-ratio: 4 / 3; /* Proporção padrão se não houver imagem */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #888;
  background: #3a3b32;
}

/* .info que substitui .link */
.inf {
    padding: 1rem 1.25rem;
}
/*
ORDEM DA PROPRIEDADE SHORTHAND:
font: font-style > font-weight > font-size > font-family
estilo peso tamanho familia
*/
.inf h3 {
    font: normal normal 1.5rem var(--font-text-futura), Arial, Helvetica sans-serif;
    color: white;
  /* line-height: 1.3; */

}

