.page {

  position: relative;
  /* altercao */

  max-width: 380px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.topbar {
  position: sticky;
  /* top: 0;
  left: 0;
  width: 100%; */

  max-width: 380px;
  margin: 0 auto;

  display: flex;
  padding: 0 16px;
  border-bottom: 1px solid #ddd;
  z-index: 1000;

  height: 60px;
  /* background-color: #fff; */
  justify-content: space-between;
  align-items: center;
}

.actionbtn {
    background: none;
    border: none;
    cursor: pointer;
}

.appcontainer{
  border: 1px solid white; 
}

.obraslist {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.containerobra {
  background-color: rgb(183, 206, 200);
  border: 1px solid #e0e0e0 ;

  width: 100%;
  height: 200px;

  overflow: hidden;


  /*ajustes*/
  border-radius: 8px;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.image {
  display: block;
  max-width: 100%;
  max-height: 320px;
  width: auto;
  height: auto;
  margin: 0 auto 8px auto;
  /* border-radius: 0.7rem; */
  background: #eee;
  object-fit: contain;
  box-shadow: 0 1px 8px #0002;
}

.info {
    background-color: #F2F2F2;

}

.info h1 {
    color: #4A4A4A;
}

.info h2 {
    color: #4A4A4A;
}
.info p {
    color: #4A4A4A;
}

