.page {
  max-width: 380px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2C2D26;

  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.topbar{
  background-color: #ff5e33;
  border: 1px solid white; 
}

.headding{
  background-color: cornflowerblue;
  color: blanchedalmond;
  text-align: center;
}

.appcontainer{
  background-color: #ff5b04;
  border: 1px solid white; 
}

.obraslist {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.obra {
  overflow: hidden;
}


.containerobra {
  background-color: rgb(183, 206, 200);
  border: 1px solid #e0e0e0 ;

  width: 100%;
  height: 200px;

  overflow: hidden;


  /*ajustes*/
  border-radius: 8px;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.image {
 /* width: 100%;*/
  height: auto;
 /* object-fit: contain;*/
  max-width: 100%;
  display: block;
  border-radius: 8px;
}

.info p {
  color: royalblue;
}

